version: '3'

services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    depends_on:
      - database
    environment:
      MONGO_URL: mongodb+srv://melek:QvzqYt7aoBpgx40e@cluster0.jiyhd9f.mongodb.net/?retryWrites=true&w=majority&appName=AtlasApp"
  frontend:
    build:
      context: ./bookClient
    ports:
      - "8081:8081"

  database:
    image: mongo
    ports:
      - "27017:27017"
